@import "tailwindcss";

@theme inline {
  --color-mist: #fff8ec;
  --color-navy: #546b41;
  --color-steel: #99ad7a;
  --color-tan: #dcccac;
  --color-background: #fff8ec;
  --color-foreground: #546b41;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-mist);
  color: var(--color-navy);
}
